In [1]:
import os
import pandas as pd
from pathlib import Path

# Read in Data

In [2]:
PROJ_PATH = Path(os.getcwd()).parent
DATA_PATH = PROJ_PATH / 'Data'

In [3]:
team_stats = pd.read_csv(DATA_PATH / 'Tournament_Team_Data.csv') # Downloaded from Kaggle: https://www.kaggle.com/datasets/nishaanamin/march-madness-data?select=Tournament+Team+Data+%28Including+2023%29.csv
game_results_85_21 = pd.read_csv(DATA_PATH / 'Tournament_Game_Results.csv') # Downloaded from Kaggle: https://www.kaggle.com/datasets/woodygilbertson/ncaam-march-madness-scores-19852021
game_results_22_23 = pd.read_csv(DATA_PATH / 'Tournament_Game_Results_22_23.csv') # Scraped from NCAA.com (see Notebooks/data_collection.ipynb)

In [4]:
game_results = pd.concat([game_results_22_23, game_results_85_21], ignore_index=True)

# Explore Data

### Team Stats

In [5]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   YEAR                            1011 non-null   int64
 1   SEED                            1011 non-null   int64
 2   TEAM                            1011 non-null   object
 3   ROUND                           1011 non-null   int64
 4   KENPOM ADJUSTED EFFICIENCY      1011 non-null   float64
 5   KENPOM ADJUSTED OFFENSE         1011 non-null   float64
 6   KENPOM ADJUSTED DEFENSE         1011 non-null   float64
 7   KENPOM ADJUSTED TEMPO           1011 non-null   float64
 8   BARTTORVIK ADJUSTED EFFICIENCY  1011 non-null   float64
 9   BARTTORVIK ADJUSTED OFFENSE     1011 non-null   float64
 10  BARTTORVIK ADJUSTED DEFENSE     1011 non-null   float64
 11  BARTHAG                         1011 non-null   float64
 12  ELITE SOS                       1011 non-null   float64
 13  BARTTORVIK ADJUSTED TEMPO       1011 non-null   float64
 14  2PT %                           1011 non-null   float64
 15  3PT %                           1011 non-null   float64
 16  FREE THROW %                    1011 non-null   float64
 17  EFG %                           1011 non-null   float64
 18  FREE THROW RATE                 1011 non-null   float64
 19  3PT RATE                        1011 non-null   float64
 20  ASSIST %                        1011 non-null   float64
 21  OFFENSIVE REBOUND %             1011 non-null   float64
 22  DEFENSIVE REBOUND %             1011 non-null   float64
 23  BLOCK %                         1011 non-null   float64
 24  TURNOVER %                      1011 non-null   float64
 25  2PT % DEFENSE                   1011 non-null   float64
 26  3PT % DEFENSE                   1011 non-null   float64
 27  FREE THROW % DEFENSE            1011 non-null   float64
 28  EFG % DEFENSE                   1011 non-null   float64
 29  FREE THROW RATE DEFENSE         1011 non-null   float64
 30  3PT RATE DEFENSE                1011 non-null   float64
 31  OP ASSIST %                     1011 non-null   float64
 32  OP O REB %                      1011 non-null   float64
 33  OP D REB %                      1011 non-null   float64
 34  BLOCKED %                       1011 non-null   float64
 35  TURNOVER % DEFENSE              1011 non-null   float64
 36  WINS ABOVE BUBBLE               1011 non-null   float64
 37  WIN %                           1011 non-null   float64
 38  POINTS PER POSSESSION OFFENSE   1011 non-null   float64
 39  POINTS PER POSSESSION DEFENSE   1011 non-null   float64
 40  TEAM.1                          1011 non-null   object
dtypes: float64(36), int64(3), object(2)
memory usage: 324.0+ KB

In [6]:
team_stats

,YEAR,SEED,TEAM,ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,...,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE,TEAM.1
0,2023,1,Alabama,0,26.9363,115.832,88.8960,72.7700,27.588,116.981,...,41.8,27.6,66.2,11.4,16.0,10.6,85.294118,1.106,0.922,Alabama
1,2023,1,Houston,0,29.8743,118.854,88.9798,63.3827,28.290,118.260,...,53.6,27.4,62.9,6.6,22.0,8.4,91.176471,1.158,0.872,Houston
2,2023,1,Kansas,0,23.1345,114.703,91.5684,69.2256,21.359,113.750,...,46.2,28.3,71.6,7.3,20.2,10.5,79.411765,1.062,0.963,Kansas
3,2023,1,Purdue,0,24.7732,119.951,95.1774,64.2174,25.247,119.495,...,51.5,23.3,61.7,8.6,15.4,9.2,85.294118,1.135,0.974,Purdue
4,2023,2,Arizona,0,22.8757,120.078,97.2023,72.2672,23.914,120.450,...,49.4,26.2,68.9,9.3,16.9,7.5,82.352941,1.134,0.981,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,2008,16,Mississippi Valley St.,64,-15.0000,92.100,107.1000,62.4000,-15.300,90.000,...,50.4,34.5,67.5,9.1,22.9,-10.0,50.000000,0.927,0.997,Mississippi Valley St.
1007,2008,16,Mount St. Mary's,64,-1.0000,99.000,100.1000,65.2000,-1.800,97.300,...,47.8,33.0,70.0,7.5,22.0,-9.5,56.250000,1.006,0.968,Mount St. Mary's
1008,2008,16,Portland St.,64,5.8000,108.400,102.6000,65.8000,3.500,105.300,...,54.8,31.3,66.0,6.3,21.5,-3.4,70.000000,1.088,1.003,Portland St.
1009,2008,16,UT Arlington,64,-2.0000,101.100,103.1000,68.0000,-2.100,99.100,...,56.0,30.5,68.2,7.6,20.8,-7.0,60.710000,1.006,0.971,UT Arlington
1010,2008,16,Coppin St.,68,-14.2000,92.400,106.7000,62.2000,-15.400,90.200,...,60.5,38.5,68.0,11.3,25.2,-13.0,41.180000,0.907,1.013,Coppin St.

### Game Results

In [7]:
game_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2451 entries, 0 to 2450
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    2451 non-null   int64
 1   ROUND   2451 non-null   int64
 2   WSEED   2451 non-null   int64
 3   WTEAM   2451 non-null   object
 4   WSCORE  2451 non-null   int64
 5   LSEED   2451 non-null   int64
 6   LTEAM   2451 non-null   object
 7   LSCORE  2451 non-null   int64
dtypes: int64(6), object(2)
memory usage: 153.3+ KB

In [8]:
game_results

,YEAR,ROUND,WSEED,WTEAM,WSCORE,LSEED,LTEAM,LSCORE
0,2023,6,4,UConn,76,5,San Diego St.,59
1,2023,5,4,UConn,72,5,Miami (FL),59
2,2023,5,5,San Diego St.,72,9,FAU,71
3,2023,4,5,San Diego St.,57,6,Creighton,56
4,2023,4,9,FAU,79,3,Kansas St.,76
...,...,...,...,...,...,...,...,...
2446,1985,1,3,North Carolina State,65,14,Nevada,56
2447,1985,1,4,Ohio State,75,13,Iowa State,64
2448,1985,1,1,Oklahoma,96,16,North Carolina A&T,83
2449,1985,1,7,Notre Dame,79,10,Oregon State,70
2450,1985,1,2,North Carolina,76,15,Middle Tennessee State,57

# Preprocessing

### Drop Columns

In [19]:
# ROUND presents data leakage (we won't know what round ends up being the team's last)
# TEAM.1 is redundant
team_stats.drop(columns=['ROUND', 'TEAM.1'], inplace=True)

### Filter Data

In [9]:
# Drop data from game_results for tournaments before 2008
game_results = game_results.copy()[game_results['YEAR'] >= 2008]
game_results

,YEAR,ROUND,WSEED,WTEAM,WSCORE,LSEED,LTEAM,LSCORE
0,2023,6,4,UConn,76,5,San Diego St.,59
1,2023,5,4,UConn,72,5,Miami (FL),59
2,2023,5,5,San Diego St.,72,9,FAU,71
3,2023,4,5,San Diego St.,57,6,Creighton,56
4,2023,4,9,FAU,79,3,Kansas St.,76
...,...,...,...,...,...,...,...,...
990,2008,1,8,Mississippi State,76,9,Oregon,69
991,2008,1,3,Stanford,77,14,Cornell,53
992,2008,1,9,Arkansas,86,8,Indiana,72
993,2008,1,12,Western Kentucky,101,5,Drake,99
994,2008,0,16,Mount St. Mary's,69,16,Coppin State,60

### Make Naming Conventions Consistent

In [10]:
# Strip any leading or trailing whitespace from Team Name features
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.strip())
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.strip())
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.strip())

In [11]:
# Replace abbreviation "St." with either "Saint" or "State" where appropriate
common_state_uni = ["Murray St.", "San Diego St.", "Michigan St.", "Kansas St.", "Montana St.", "Iowa St.", "Ohio St.", "New Mexico St.", "Arizona St.", "SE Missouri St.", "Penn St.", "Utah St.", "Boise St.", "Kennesaw St.", "Kent St.", "Mississippi St.", "NM St.", "Colorado St.", "Wright St.", "Norfolk St.", "Cal St. Fullerton", "Georgia St.", "Jacksonville St.", "S. Dakota St."]

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.replace("St.", "Saint") if name in ["St. Bonaventure", "Mount St. Mary's", "St. John's"] else name)
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.replace("St.", "State") if "St." in name else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("St.", "State") if name in common_state_uni else name)
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("St.", "Saint") if "St." in name else name)

game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("St.", "State") if name in common_state_uni else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("St.", "Saint") if "St." in name else name)

In [12]:
# Make school names consistent between the two datasets
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "USC" if name == "Southern California" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "USC" if name == "Southern California" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "BYU" if name == "Brigham Young" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "BYU" if name == "Brigham Young" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UCF" if name == "Central Florida" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UCF" if name == "Central Florida" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "VCU" if name == "Virginia Commonwealth" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "VCU" if name == "Virginia Commonwealth" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UAB" if name == "Alabama-Birmingham" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UAB" if name == "Alabama-Birmingham" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "SMU" if name == "Southern Methodist" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "SMU" if name == "Southern Methodist" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "California" if name == "UC Berkeley" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "California" if name == "UC Berkeley" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UTSA" if name == "Texas-San Antonio" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UTSA" if name == "Texas-San Antonio" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UMBC" if name == "Maryland-Baltimore County" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UMBC" if name == "Maryland-Baltimore County" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace(" (Cal.)", "") if name == "Saint Mary's (Cal.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace(" (Cal.)", "") if name == "Saint Mary's (Cal.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace(" (N.Y.)", "") if name == "Albany (N.Y.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace(" (N.Y.)", "") if name == "Albany (N.Y.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("(Fla.)", "FL") if name == "Miami (Fla.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("(Fla.)", "FL") if name == "Miami (Fla.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("(FL)", "FL") if name == "Miami (FL)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("(FL)", "FL") if name == "Miami (FL)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("(Md.)", "MD") if name == "Loyola (Md.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("(Md.)", "MD") if name == "Loyola (Md.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Cal-Poly" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Cal-Poly" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Little Rock" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Little Rock" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Pine Bluff" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Pine Bluff" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Louisiana-Lafayette" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Louisiana-Lafayette" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Loyola Chicago" if name == "Loyola (Ill.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Loyola Chicago" if name == "Loyola (Ill.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Southern Miss" if name == "Southern Mississippi" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Southern Miss" if name == "Southern Mississippi" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UT Arlington" if name == "Texas-Arlington" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UT Arlington" if name == "Texas-Arlington" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Gardner-Webb" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Gardner-Webb" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: f"{name} A&M" if name == 'Prairie View' else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: f"{name} A&M" if name == 'Prairie View' else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "Long Island" if name == "LIU Brooklyn" else name)
                                              
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: f"{name} State" if name == "Middle Tennessee" else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "UConn" if name == "Connecticut" else name)
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UConn" if name == "Connecticut" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UConn" if name == "Connecticut" else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "FAU" if name == "Florida Atlantic" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Fairleigh Dickinson" if name == "FDU" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Fairleigh Dickinson" if name == "FDU" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Pittsburgh" if name == "Pitt" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Pittsburgh" if name == "Pitt" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "North Carolina" if name == "N. Carolina" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "North Carolina" if name == "N. Carolina" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Southeast Missouri State" if name == "SE Missouri State" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Southeast Missouri State" if name == "SE Missouri State" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace(chr(8217), chr(39)))
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace(chr(8217), chr(39)))

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UC Santa Barbara" if name == "UCSB" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UC Santa Barbara" if name == "UCSB" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "NC State" if name == "North Carolina State" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "NC State" if name == "North Carolina State" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "New Mexico State" if name == "NM State" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "New Mexico State" if name == "NM State" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "South Dakota State" if name == "S. Dakota State" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "South Dakota State" if name == "S. Dakota State" else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "NC State" if name == "North Carolina State" else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "Texas A&M - CC" if name == "Texas A&M CC" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Northern Kentucky" if name == "North Kentucky" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Northern Kentucky" if name == "North Kentucky" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Louisiana Lafayette" if name == "Louisiana" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Louisiana Lafayette" if name == "Louisiana" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "College of Charleston" if name == "Col of Charleston" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "College of Charleston" if name == "Col of Charleston" else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "Texas A&M - CC" if name == "Texas A&M Corpus Chris" else name)
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Texas A&M - CC" if name in ["Texas A&M-CC", "Tex. A&M CC"] else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Texas A&M - CC" if name in ["Texas A&M-CC", "Tex. A&M CC"] else name)

### Fix Errors in Dataset

In [13]:
# Correct Auburn's seed from 4 to 5
game_results.iloc[202, 5] = 5

# Correct Arkansas's seed from 6 to 8
game_results.iloc[12, 5] = 8

# Correct team name from Georgia State to Georgia Tech
game_results.iloc[171, 6] = 'Georgia Tech'

### Define New Features

In [14]:
# Join Win % to game_results to use as determinant of better/worse seed when the seeds are equal
team_win_pct = team_stats[['YEAR', 'SEED', 'TEAM', 'WIN %']]
game_results = game_results.join(team_win_pct.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'WSEED', 'WTEAM'])
game_results = game_results.join(team_win_pct.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'LSEED', 'LTEAM'], lsuffix=' WTEAM', rsuffix=' LTEAM')

In [15]:
# Define a team as the better-seeded team or the worse-seeded team & define the target: If an upset occurred
better_seeds = []
better_teams = []
worse_seeds = []
worse_teams = []
upsets = []

for row in game_results.iterrows():
    row = row[1]
    if row['WSEED'] == row['LSEED']:
        if row['WIN % WTEAM'] < row['WIN % LTEAM']:
            better_seeds.append(row['LSEED'])
            better_teams.append(row['LTEAM'])
            worse_seeds.append(row['WSEED'])
            worse_teams.append(row['WTEAM'])
            upsets.append(1)
        else:
            better_seeds.append(row['WSEED'])
            better_teams.append(row['WTEAM'])
            worse_seeds.append(row['LSEED'])
            worse_teams.append(row['LTEAM'])
            upsets.append(0)
    elif row['WSEED'] < row['LSEED']:
        better_seeds.append(row['WSEED'])
        better_teams.append(row['WTEAM'])
        worse_seeds.append(row['LSEED'])
        worse_teams.append(row['LTEAM'])
        upsets.append(0)
    else:
        better_seeds.append(row['LSEED'])
        better_teams.append(row['LTEAM'])
        worse_seeds.append(row['WSEED'])
        worse_teams.append(row['WTEAM'])
        upsets.append(1)

game_results['BETTER_SEED'] = better_seeds
game_results['BETTER_TEAM'] = better_teams
game_results['WORSE_SEED'] = worse_seeds
game_results['WORSE_TEAM'] = worse_teams
game_results['UPSET'] = upsets

In [16]:
game_results = game_results[['YEAR', 'ROUND', 'BETTER_SEED', 'BETTER_TEAM', 'WORSE_SEED', 'WORSE_TEAM', 'UPSET']]
game_results

,YEAR,ROUND,BETTER_SEED,BETTER_TEAM,WORSE_SEED,WORSE_TEAM,UPSET
0,2023,6,4,UConn,5,San Diego State,0
1,2023,5,4,UConn,5,Miami FL,0
2,2023,5,5,San Diego State,9,FAU,0
3,2023,4,5,San Diego State,6,Creighton,0
4,2023,4,3,Kansas State,9,FAU,1
...,...,...,...,...,...,...,...
990,2008,1,8,Mississippi State,9,Oregon,0
991,2008,1,3,Stanford,14,Cornell,0
992,2008,1,8,Indiana,9,Arkansas,1
993,2008,1,5,Drake,12,Western Kentucky,1
994,2008,0,16,Mount Saint Mary's,16,Coppin State,0

In [17]:
num_upsets = game_results.loc[game_results['UPSET'] == 1, :].shape[0]
num_chalk = game_results.loc[game_results['UPSET'] == 0, :].shape[0]

print(f"Upsets from 2008-2023: {num_upsets}\nChalk from 2008-2023: {num_chalk}\nTotal Games: {game_results.shape[0]}")

Upsets from 2008-2023: 303
Chalk from 2008-2023: 692
Total Games: 995

In [21]:
game_results = game_results.join(team_stats.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'BETTER_SEED', 'BETTER_TEAM'])
march_madness_matchups = game_results.join(team_stats.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'WORSE_SEED', 'WORSE_TEAM'], lsuffix='_BS', rsuffix='_WS')

march_madness_matchups

,YEAR,ROUND,BETTER_SEED,BETTER_TEAM,WORSE_SEED,WORSE_TEAM,UPSET,KENPOM ADJUSTED EFFICIENCY_BS,KENPOM ADJUSTED OFFENSE_BS,KENPOM ADJUSTED DEFENSE_BS,...,3PT RATE DEFENSE_WS,OP ASSIST %_WS,OP O REB %_WS,OP D REB %_WS,BLOCKED %_WS,TURNOVER % DEFENSE_WS,WINS ABOVE BUBBLE_WS,WIN %_WS,POINTS PER POSSESSION OFFENSE_WS,POINTS PER POSSESSION DEFENSE_WS
0,2023,6,4,UConn,5,San Diego State,0,25.3456,119.520,94.1749,...,40.1,47.2,25.8,68.3,7.9,19.6,6.5,81.250000,1.064,0.952
1,2023,5,4,UConn,5,Miami FL,0,25.3456,119.520,94.1749,...,37.7,53.2,29.0,68.0,8.4,18.1,3.4,78.125000,1.147,1.042
2,2023,5,5,San Diego State,9,FAU,0,20.2804,112.035,91.7542,...,34.2,33.4,24.5,69.6,7.2,18.3,4.3,90.625000,1.129,0.943
3,2023,4,5,San Diego State,6,Creighton,0,20.2804,112.035,91.7542,...,29.8,47.1,23.3,74.5,8.3,14.3,1.9,63.636364,1.095,0.979
4,2023,4,3,Kansas State,9,FAU,1,18.3145,112.608,94.2939,...,34.2,33.4,24.5,69.6,7.2,18.3,4.3,90.625000,1.129,0.943
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,2008,1,8,Mississippi State,9,Oregon,0,15.8000,107.300,91.5000,...,35.3,52.9,31.2,67.7,9.7,16.4,0.8,58.060000,1.130,1.065
991,2008,1,3,Stanford,14,Cornell,0,23.9000,113.300,89.4000,...,33.7,54.6,30.9,71.1,7.4,20.6,-1.2,80.770000,1.104,0.995
992,2008,1,8,Indiana,9,Arkansas,1,19.5000,114.400,94.9000,...,34.8,52.3,31.4,62.4,9.8,21.7,0.5,66.670000,1.054,0.960
993,2008,1,5,Drake,12,Western Kentucky,1,22.3000,119.800,97.4000,...,31.6,52.2,32.8,63.0,6.6,25.2,0.2,80.650000,1.106,0.940
994,2008,0,16,Mount Saint Mary's,16,Coppin State,0,-1.0000,99.000,100.1000,...,37.9,60.5,38.5,68.0,11.3,25.2,-13.0,41.180000,0.907,1.013