In [1]:
import os
import pandas as pd
from pathlib import Path

# Read in Data

In [159]:
PROJ_PATH = Path(os.getcwd()).parent
DATA_PATH = PROJ_PATH / 'Data'

In [160]:
team_stats = pd.read_csv(DATA_PATH / 'Tournament_Team_Data.csv')
game_results = pd.read_csv(DATA_PATH / 'Tournament_Game_Results.csv')

# Explore Data

### Team Stats

In [161]:
team_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 41 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   YEAR                            1011 non-null   int64
 1   SEED                            1011 non-null   int64
 2   TEAM                            1011 non-null   object
 3   ROUND                           1011 non-null   int64
 4   KENPOM ADJUSTED EFFICIENCY      1011 non-null   float64
 5   KENPOM ADJUSTED OFFENSE         1011 non-null   float64
 6   KENPOM ADJUSTED DEFENSE         1011 non-null   float64
 7   KENPOM ADJUSTED TEMPO           1011 non-null   float64
 8   BARTTORVIK ADJUSTED EFFICIENCY  1011 non-null   float64
 9   BARTTORVIK ADJUSTED OFFENSE     1011 non-null   float64
 10  BARTTORVIK ADJUSTED DEFENSE     1011 non-null   float64
 11  BARTHAG                         1011 non-null   float64
 12  ELITE SOS                       1011 non-null   float64
 13  BARTTORVIK ADJUSTED TEMPO       1011 non-null   float64
 14  2PT %                           1011 non-null   float64
 15  3PT %                           1011 non-null   float64
 16  FREE THROW %                    1011 non-null   float64
 17  EFG %                           1011 non-null   float64
 18  FREE THROW RATE                 1011 non-null   float64
 19  3PT RATE                        1011 non-null   float64
 20  ASSIST %                        1011 non-null   float64
 21  OFFENSIVE REBOUND %             1011 non-null   float64
 22  DEFENSIVE REBOUND %             1011 non-null   float64
 23  BLOCK %                         1011 non-null   float64
 24  TURNOVER %                      1011 non-null   float64
 25  2PT % DEFENSE                   1011 non-null   float64
 26  3PT % DEFENSE                   1011 non-null   float64
 27  FREE THROW % DEFENSE            1011 non-null   float64
 28  EFG % DEFENSE                   1011 non-null   float64
 29  FREE THROW RATE DEFENSE         1011 non-null   float64
 30  3PT RATE DEFENSE                1011 non-null   float64
 31  OP ASSIST %                     1011 non-null   float64
 32  OP O REB %                      1011 non-null   float64
 33  OP D REB %                      1011 non-null   float64
 34  BLOCKED %                       1011 non-null   float64
 35  TURNOVER % DEFENSE              1011 non-null   float64
 36  WINS ABOVE BUBBLE               1011 non-null   float64
 37  WIN %                           1011 non-null   float64
 38  POINTS PER POSSESSION OFFENSE   1011 non-null   float64
 39  POINTS PER POSSESSION DEFENSE   1011 non-null   float64
 40  TEAM.1                          1011 non-null   object
dtypes: float64(36), int64(3), object(2)
memory usage: 324.0+ KB

In [162]:
team_stats

,YEAR,SEED,TEAM,ROUND,KENPOM ADJUSTED EFFICIENCY,KENPOM ADJUSTED OFFENSE,KENPOM ADJUSTED DEFENSE,KENPOM ADJUSTED TEMPO,BARTTORVIK ADJUSTED EFFICIENCY,BARTTORVIK ADJUSTED OFFENSE,...,OP ASSIST %,OP O REB %,OP D REB %,BLOCKED %,TURNOVER % DEFENSE,WINS ABOVE BUBBLE,WIN %,POINTS PER POSSESSION OFFENSE,POINTS PER POSSESSION DEFENSE,TEAM.1
0,2023,1,Alabama,0,26.9363,115.832,88.8960,72.7700,27.588,116.981,...,41.8,27.6,66.2,11.4,16.0,10.6,85.294118,1.106,0.922,Alabama
1,2023,1,Houston,0,29.8743,118.854,88.9798,63.3827,28.290,118.260,...,53.6,27.4,62.9,6.6,22.0,8.4,91.176471,1.158,0.872,Houston
2,2023,1,Kansas,0,23.1345,114.703,91.5684,69.2256,21.359,113.750,...,46.2,28.3,71.6,7.3,20.2,10.5,79.411765,1.062,0.963,Kansas
3,2023,1,Purdue,0,24.7732,119.951,95.1774,64.2174,25.247,119.495,...,51.5,23.3,61.7,8.6,15.4,9.2,85.294118,1.135,0.974,Purdue
4,2023,2,Arizona,0,22.8757,120.078,97.2023,72.2672,23.914,120.450,...,49.4,26.2,68.9,9.3,16.9,7.5,82.352941,1.134,0.981,Arizona
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1006,2008,16,Mississippi Valley St.,64,-15.0000,92.100,107.1000,62.4000,-15.300,90.000,...,50.4,34.5,67.5,9.1,22.9,-10.0,50.000000,0.927,0.997,Mississippi Valley St.
1007,2008,16,Mount St. Mary's,64,-1.0000,99.000,100.1000,65.2000,-1.800,97.300,...,47.8,33.0,70.0,7.5,22.0,-9.5,56.250000,1.006,0.968,Mount St. Mary's
1008,2008,16,Portland St.,64,5.8000,108.400,102.6000,65.8000,3.500,105.300,...,54.8,31.3,66.0,6.3,21.5,-3.4,70.000000,1.088,1.003,Portland St.
1009,2008,16,UT Arlington,64,-2.0000,101.100,103.1000,68.0000,-2.100,99.100,...,56.0,30.5,68.2,7.6,20.8,-7.0,60.710000,1.006,0.971,UT Arlington
1010,2008,16,Coppin St.,68,-14.2000,92.400,106.7000,62.2000,-15.400,90.200,...,60.5,38.5,68.0,11.3,25.2,-13.0,41.180000,0.907,1.013,Coppin St.

### Game Results

In [163]:
game_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2317 entries, 0 to 2316
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   YEAR    2317 non-null   int64
 1   ROUND   2317 non-null   int64
 2   WSEED   2317 non-null   int64
 3   WTEAM   2317 non-null   object
 4   WSCORE  2317 non-null   int64
 5   LSEED   2317 non-null   int64
 6   LTEAM   2317 non-null   object
 7   LSCORE  2317 non-null   int64
dtypes: int64(6), object(2)
memory usage: 144.9+ KB

In [164]:
game_results

,YEAR,ROUND,WSEED,WTEAM,WSCORE,LSEED,LTEAM,LSCORE
0,2021,6,1,Baylor,86,1,Gonzaga,70
1,2021,5,1,Gonzaga,93,11,UCLA,90
2,2021,5,1,Baylor,78,2,Houston,59
3,2021,4,2,Houston,67,12,Oregon State,61
4,2021,4,1,Baylor,81,3,Arkansas,72
...,...,...,...,...,...,...,...,...
2312,1985,1,3,North Carolina State,65,14,Nevada,56
2313,1985,1,4,Ohio State,75,13,Iowa State,64
2314,1985,1,1,Oklahoma,96,16,North Carolina A&T,83
2315,1985,1,7,Notre Dame,79,10,Oregon State,70
2316,1985,1,2,North Carolina,76,15,Middle Tennessee State,57

# Preprocessing

### Filter Data

In [165]:
# Drop data from game_results for tournaments before 2008
game_results = game_results.copy()[game_results['YEAR'] >= 2008]
game_results

,YEAR,ROUND,WSEED,WTEAM,WSCORE,LSEED,LTEAM,LSCORE
0,2021,6,1,Baylor,86,1,Gonzaga,70
1,2021,5,1,Gonzaga,93,11,UCLA,90
2,2021,5,1,Baylor,78,2,Houston,59
3,2021,4,2,Houston,67,12,Oregon State,61
4,2021,4,1,Baylor,81,3,Arkansas,72
...,...,...,...,...,...,...,...,...
856,2008,1,8,Mississippi State,76,9,Oregon,69
857,2008,1,3,Stanford,77,14,Cornell,53
858,2008,1,9,Arkansas,86,8,Indiana,72
859,2008,1,12,Western Kentucky,101,5,Drake,99
860,2008,0,16,Mount St. Mary's,69,16,Coppin State,60

### Make Naming Conventions Consistent

In [166]:
# Strip any leading or trailing whitespace from Team Name features
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.strip())
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.strip())
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.strip())

In [167]:
# Replace abbreviation "St." with either "Saint" or "State" where appropriate
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.replace("St.", "Saint") if name in ["St. Bonaventure", "Mount St. Mary's", "St. John's"] else name)
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: name.replace("St.", "State") if "St." in name else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("St.", "State") if name == "Murray St." else name)
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("St.", "Saint") if "St." in name else name)

game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("St.", "State") if name == "Murray St." else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("St.", "Saint") if "St." in name else name)

In [168]:
# Make school names consistent between the two datasets
game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "USC" if name == "Southern California" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "USC" if name == "Southern California" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "BYU" if name == "Brigham Young" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "BYU" if name == "Brigham Young" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UCF" if name == "Central Florida" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UCF" if name == "Central Florida" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "VCU" if name == "Virginia Commonwealth" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "VCU" if name == "Virginia Commonwealth" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UAB" if name == "Alabama-Birmingham" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UAB" if name == "Alabama-Birmingham" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "SMU" if name == "Southern Methodist" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "SMU" if name == "Southern Methodist" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "California" if name == "UC Berkeley" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "California" if name == "UC Berkeley" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UTSA" if name == "Texas-San Antonio" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UTSA" if name == "Texas-San Antonio" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UMBC" if name == "Maryland-Baltimore County" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UMBC" if name == "Maryland-Baltimore County" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace(" (Cal.)", "") if name == "Saint Mary's (Cal.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace(" (Cal.)", "") if name == "Saint Mary's (Cal.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace(" (N.Y.)", "") if name == "Albany (N.Y.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace(" (N.Y.)", "") if name == "Albany (N.Y.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("(Fla.)", "FL") if name == "Miami (Fla.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("(Fla.)", "FL") if name == "Miami (Fla.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("(Md.)", "MD") if name == "Loyola (Md.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("(Md.)", "MD") if name == "Loyola (Md.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Cal-Poly" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Cal-Poly" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Little Rock" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Little Rock" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Pine Bluff" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Arkansas-Pine Bluff" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Louisiana-Lafayette" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Louisiana-Lafayette" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Loyola Chicago" if name == "Loyola (Ill.)" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Loyola Chicago" if name == "Loyola (Ill.)" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "Southern Miss" if name == "Southern Mississippi" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "Southern Miss" if name == "Southern Mississippi" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: "UT Arlington" if name == "Texas-Arlington" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: "UT Arlington" if name == "Texas-Arlington" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: name.replace("-", " ") if name == "Gardner-Webb" else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: name.replace("-", " ") if name == "Gardner-Webb" else name)

game_results['WTEAM'] = game_results['WTEAM'].apply(lambda name: f"{name} A&M" if name == 'Prairie View' else name)
game_results['LTEAM'] = game_results['LTEAM'].apply(lambda name: f"{name} A&M" if name == 'Prairie View' else name)

team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: "Long Island" if name == "LIU Brooklyn" else name)
                                              
team_stats['TEAM'] = team_stats['TEAM'].apply(lambda name: f"{name} State" if name == "Middle Tennessee" else name)

### Fix Errors in Dataset

In [169]:
# Correct Auburn's seed from 4 to 5
game_results.iloc[68, 5] = 5

# Correct team name from Georgia State to Georgia Tech
game_results.iloc[37, 6] = 'Georgia Tech'

### Define New Features

In [170]:
# Join Win % to game_results to use as determinant of better/worse seed when the seeds are equal
team_win_pct = team_stats[['YEAR', 'SEED', 'TEAM', 'WIN %']]
game_results = game_results.join(team_win_pct.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'WSEED', 'WTEAM'])
game_results = game_results.join(team_win_pct.set_index(['YEAR', 'SEED', 'TEAM']), on=['YEAR', 'LSEED', 'LTEAM'], lsuffix=' WTEAM', rsuffix=' LTEAM')

In [173]:
# Define a team as the better-seeded team or the worse-seeded team & define the target: If an upset occurred
better_seeds = []
better_teams = []
worse_seeds = []
worse_teams = []
upsets = []

for row in game_results.iterrows():
    row = row[1]
    if row['WSEED'] == row['LSEED']:
        if row['WIN % WTEAM'] < row['WIN % LTEAM']:
            better_seeds.append(row['LSEED'])
            better_teams.append(row['LTEAM'])
            worse_seeds.append(row['WSEED'])
            worse_teams.append(row['WTEAM'])
            upsets.append(1)
        else:
            better_seeds.append(row['WSEED'])
            better_teams.append(row['WTEAM'])
            worse_seeds.append(row['LSEED'])
            worse_teams.append(row['LTEAM'])
            upsets.append(0)
    elif row['WSEED'] < row['LSEED']:
        better_seeds.append(row['WSEED'])
        better_teams.append(row['WTEAM'])
        worse_seeds.append(row['LSEED'])
        worse_teams.append(row['LTEAM'])
        upsets.append(0)
    else:
        better_seeds.append(row['LSEED'])
        better_teams.append(row['LTEAM'])
        worse_seeds.append(row['WSEED'])
        worse_teams.append(row['WTEAM'])
        upsets.append(1)

game_results['BETTER_SEED'] = better_seeds
game_results['BETTER_TEAM'] = better_teams
game_results['WORSE_SEED'] = worse_seeds
game_results['WORSE_TEAM'] = worse_teams
game_results['UPSET'] = upsets

In [176]:
game_results = game_results[['YEAR', 'ROUND', 'BETTER_SEED', 'BETTER_TEAM', 'WORSE_SEED', 'WORSE_TEAM', 'UPSET']]
game_results

,YEAR,ROUND,BETTER_SEED,BETTER_TEAM,WORSE_SEED,WORSE_TEAM,UPSET
0,2021,6,1,Gonzaga,1,Baylor,1
1,2021,5,1,Gonzaga,11,UCLA,0
2,2021,5,1,Baylor,2,Houston,0
3,2021,4,2,Houston,12,Oregon State,0
4,2021,4,1,Baylor,3,Arkansas,0
...,...,...,...,...,...,...,...
856,2008,1,8,Mississippi State,9,Oregon,0
857,2008,1,3,Stanford,14,Cornell,0
858,2008,1,8,Indiana,9,Arkansas,1
859,2008,1,5,Drake,12,Western Kentucky,1
860,2008,0,16,Mount Saint Mary's,16,Coppin State,0